*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E1CEB8;
}
.navbar{
    background-color: #6484C1;
    
}
.navbar li{
    float: right;
    list-style: none;
    margin: 13px 20px;
    font-size: 20px;
    
}
.navbar ul{
    overflow: auto;
    padding: 0px 30px;
}
.navbar a{
    cursor: pointer;
    text-decoration: none;
}
.navbar logo{
    /* width: 200px;
    height: 70px; */
    font-size: 40px;

}
.Himg{
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
}
.Himg img{
    width: 700px;
    height: 550px;
    border-radius: 35px;
    margin-top: 100px;
}
#txt{
    margin-top: 150px;
    font-size: 30px;
}
#txt p{
    padding-top: 50px;
    font-weight: bold;
    font-size: 25px;
}
#txt button{
    width: 90px;
    font-size: 40px;
    margin-left: 28px;
    margin-top: 48px;
    width: 300px;
    height: 70px;
    border-radius: 30px;
    background-color: #DE6F30;
    border: none;

}
#txt a{
    text-decoration: none;
}

